{% extends 'base.html' %}
{% load static %}
{% block content %}
<marquee width="100%" direction="left" class="marquee" onmouseover="this.stop();" onmouseout="this.start();"><p><b><font color="#203864">
    Unaweza kupakua (Download) Fomu ( JOINING  INSTRUCTIONS  FORM ONE 2024) ya kujiunga na shule kwa kidato cha Kwanza hapa <a href='joining_instructions_form_one_2024.pdf' target="_blank">DOWNLOAD</a> au chini ya sehemu ya matangazo (Announcements)</font> </marquee>
  </marquee>

<!-- Page Title -->
<div class="page-title" data-aos="fade">
<div class="container">
  <nav class="breadcrumbs" style="padding-top: 30px;">
    <ol>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="current">Alumni</li>
    </ol>
  </nav>
  <h1>Our Alumni</h1>
</div>
</div>

<!-- Marquee Section -->
<div style="background-color: #09414d; color: white; padding: 10px;">
<marquee behavior="scroll" direction="left" scrollamount="6" style="font-size: 0.9em;" class="marquee" onmouseover="this.stop();" onmouseout="this.start();" >
  Welcome to the Mnyanjani Secondary School Alumni Page! Celebrating the achievements of our proud graduates.
</marquee>
</div>

<!-- Alumni Section -->
<section id="alumni" class="alumni-section section">
<div class="container" data-aos="fade-up">
  <h2 class="text-center mb-4">Meet Our Alumni</h2>
  <p class="text-center">Get to know the talented graduates of Mnyanjani Secondary School and their professional achievements.</p>

  <!-- Alumni Grid -->
  <div class="row gy-4">
    <!-- Alumni 1 -->

    {% for alumn in alumni%} 
    <div class="col-lg-4 col-md-6">
      <div class="alumni-item text-center" data-aos="zoom-in">
        <img src="{{alumn.image.url}}" alt="Alumni 1" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
        <h4>{{alumn.full_name}}</h4>
        <p class="text-muted">{{alumn.current_position}}</p>
        <p class="text-muted">{{alumn.year_of_graduation}}</p>
      </div>
    </div>
{%endfor%}
    <!-- Alumni 2 -->
    <!-- <div class="col-lg-4 col-md-6">
      <div class="alumni-item text-center" data-aos="zoom-in">
        <img src="{% static 'img/SERIOUS.jpg' %}" alt="Alumni 2" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
        <h4>Mr. Hamisi Zamiru</h4>
        <p class="text-muted">Simba Sc Physiotherapist</p>
        <p class="text-muted">Class of 2015</p>
      </div>
    </div> -->

    <!-- Alumni 3 -->
    <!-- <div class="col-lg-4 col-md-6">
      <div class="alumni-item text-center" data-aos="zoom-in">
        <img src="{% static 'img/mshuza.jpg' %}" alt="Alumni 3" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
        <h4>Mr. Issa Mshuza</h4>
        <p class="text-muted">Medical Doctor</p>
        <p class="text-muted">Class of 2018</p>
      </div>
    </div> -->

    <!-- Alumni 4 -->
    <!-- <div class="col-lg-4 col-md-6">
        <div class="alumni-item text-center" data-aos="zoom-in">
          <img src="{% static 'img/naseeb.jpg' %}" alt="Alumni 3" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
          <h4>Mr. Nasibu Mussa</h4>
          <p class="text-muted">Mass Communication expert</p>
          <p class="text-muted">Class of 2017</p>
        </div>
      </div> -->

      <!-- Alumni 5 -->
    <!-- <div class="col-lg-4 col-md-6">
        <div class="alumni-item text-center" data-aos="zoom-in">
          <img src="{% static 'img/pen2.jpg' %}" alt="Alumni 3" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
          <h4>Mr. Husseni Salimu</h4>
          <p class="text-muted">Molecular Biology expert</p>
          <p class="text-muted">Class of 2015</p>
        </div>
      </div> -->

      <!-- Alumni 6 -->
    <!-- <div class="col-lg-4 col-md-6">
        <div class="alumni-item text-center" data-aos="zoom-in">
          <img src="{% static 'img/kombo.jpg' %}" alt="Alumni 3" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
          <h4>Mr. Mohamedi Maliyabwana</h4>
          <p class="text-muted">Data Science Engineer </p>
          <p class="text-muted">Class of 2018</p>
        </div>
      </div> -->

    <!-- More Alumni Entries -->
    <!-- Add more alumni here as needed following the same structure -->
  </div>
</div>
</section>

{% endblock content %}