{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="background" class="section">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="padding-top: 40px;">School Background</h2>
      </div>
      <p>
        Established in 2007, Mnyanjani Secondary School is a ward school located in Mnyanjani Ward, Tanga, Tanzania. Built through a collaboration between the government and the local community, the school serves both boys and girls from Form 1 to Form 4, providing education in both arts and science streams.
      </p>
      <h3>Our Mission</h3>
      <p>
        Mnyanjani Secondary School strives to empower students through quality education, instilling values of integrity, discipline, and academic excellence. We aim to provide a supportive environment where each student can excel in their chosen field of study.
      </p>
      <h3>Our Vision</h3>
      <p>
        To become a leading secondary school that fosters holistic development, ensuring our students are well-prepared to contribute positively to society.
      </p>
    </div>
  </section>
{% endblock content %}